a {
  color: #000;
  transition-duration: 0.3s;
}

a:hover {
  color: rgb(113,200,55);
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

body, p, a {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

small {
  font-size: 80%;
}

#skills, #education {
  border: none;
}

.container {
  min-height: 400px;
  padding: 90px 100px 80px;
  border-bottom: solid 3px #000;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 50px 0;
}

.footer img {
  display: block;
  margin: 0 auto;
  height: 40px;
}

.shift-down-20 { position: relative; top: 20px; }
.shift-down-40 { position: relative; top: 40px; }
.shift-down-60 { position: relative; top: 60px; }

.spacer-20 { height: 20px; }
.spacer-40 { height: 40px; }

@media (max-width: 800px) {
  .container {
    padding: 90px 15px 80px;
  }
}
