.centalign{text-align: center;}
.rotate{@include rotate(-90deg);}
/*.onwhite{color:#000;}*/
.projectbox{max-height:250px;}

.black{
	color:$black;
}

.hoverblue{
	color:#000;
	@include transition-duration(0.6s);
	&:hover{color:rgb(0,170,212);}

}

.hovergreen{
	color:#000;
	@include transition-duration(0.6s);
	&.arrow{color:#ddd;}
	&:hover{color:rgb(113,200,55);}
}
a{
	.hovergreen{color:#fff;}
}
hr {
	color:#fff !important;
	background-color:#fff !important;
	border-color:#fff;
}

.container{
	height: 100%;
	}

.wrapped{
	padding: 80px 10px 80px 10px;
}

.wrapper{
	padding: 35px 10px 15px 10px;
	background-color:#fff;
	h1, h2, h3, h4, h5, p{color:$black}
}

.slidewrapper{
	padding: 35px 10px 150px 10px;
	background-color:#fff;
	&.dark{background-color:#000;}
	&.rcolor{background-color:rgb(246,156,155)}
	&.gcolor{background-color:#A4C277;}//rgb(182,216,132)}
	&.bcolor{background-color:rgb(107,188,233)}
	&.ycolor{background-color:rgb(255,237,129)}
	&.wcolor{background-color:rgb(240,240,240)}
	&.ocolor{background-color:rgb(254,205,126)}
	&.grcolor{background-color:rgb(113,200,55)}
	&.blcolor{background-color:rgb(0,170,212)}
	position:fixed;
	width:100%;
	height: 100%;
	top:0px;
	left: -100%;
	overflow-y: auto;
	overflow-x:none;
	z-index: 100;
	@include transition-duration(.3s);
}

.open{
	left:0px !important;
}

.navigation{
	position:fixed;
	bottom: 0px;
	margin:0px;
	height:60px;
	text-align: center;
	width: 100%;
	background-color:$white;
	color:$black;
	z-index: 200;
	@include box-shadow(0 0 1px #333);
	.table{
		display: table;
		margin: 0 auto;
		ul{
			list-style: none;
			display: inline;
			li{
				display: inline;
				height: 60px;
				line-height: 60px;
				font-weight: $font-weight-light;
				font-size: $med + 2;
				padding: 18px 20px 18px 20px;
			}
		}
	}
}

.navlink{
	color:$black;
	cursor: pointer;
	&:hover{color:rgb(0,170,212);}
	&.chosen{
		color:$white;
		background-color:rgb(0,170,212);
	}
}

#loadcontainer{
	@include transition-duration(.3s);
}

#loadcontainer img{
	height:120px;
}

#comic img{
	height: auto !important;
	background-color:#fff;
}

@include respond(all-phones){
	.centify{
		text-align: center !important;
	}

	.navigation{
		height:120px;
	}
}