@charset "utf-8";
/* CSS Document */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
	color:inherit;
	text-decoration:none;
	}
	
a img {
	border:none;
	}
	
body{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:12px;
	margin: 0;
	padding: 0;
	height:100%;
	background-color:#EEE;
	background:url(images/white_sand.png);
	background-repeat:repeat-x repeat-y;
	overflow-x:hidden;
	}
	
h1 {font-size:220%; color:rgb(113,198,55); font-weight:300;}
h2 {font-size:200%; color:rgb(113,198,55); font-weight:300;}
h3 {font-size:150%; color:rgb(113,198,55); font-weight:300;}

html{height:100%;}

p {font-size:120%; font-weight:300;}
	
.button{
	position:absolute; 
	bottom:0px; 
	margin-left:-8px; 
	height:100px;
	padding:8px 8px 8px 16px;
	transition:0.5s linear;
	-webkit-transition:0.5s linear;
	}
	
.button:hover {
	background-color:rgba(0,204,255,0.6);
	}

.container1{ 
	background-repeat:no-repeat; 
	background-color:#aaa; 
	background-position:center; 
	position:relative; 
	width:100%;
	background-size: cover;
	box-shadow:0px 5px 12px rgba(50,50,50,0.35);
	z-index:4;
	}
	
.container2{
	width:100%; 
	height:700px; 
	background:rgb(245,245,245);
	/*	background:url(images/white_sand.png);
	background-repeat:repeat-x repeat-y;*/
	box-shadow: 0px 5px 12px rgba(50,50,50, 0.4), 0px -5px 12px rgba(50,50,50, 0.35);
	z-index:3;
	position:relative;
	background-attachment:fixed;
	}
	
.container3{
	background-repeat:no-repeat; 
	background-color:#aaa; 
	background-position:center; 
	position:relative; 
	width:100%;
	background-size: cover;
	background-attachment:fixed;
	}
	
.header{
	width:80%; 
	max-width:600px; 
	position:fixed; 
	top:0px; 
	background-color:rgb(245,245,245); 
	box-shadow:0px 1px 4px rgba(50,50,50,0.15); 
	height:50px; 
	left:50%;
	z-index:5;
	}
	
.headerlink{
	width:20%;
	height:50px;	
	float:left;
	font-size:130%;
	text-align:center;
	vertical-align:middle;
	color:rgb(113,198,55);
	background-color:#eee;
	line-height:50px;
	transition:0.2s linear;
	-webkit-transition:0.2s linear;
	}

.headerlink:hover{
	color:#fff;
	background-color:rgb(113,198,55);
	}

.hollowbluebutton{
	color:rgb(0,204,255);
	text-decoration:none;
	text-align:center;
	border-width:1px;
	border-color: rgb(0,204,255);
	border-style:solid;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	}
	
.hollowbluebutton:hover, hollowbluebutton:active, hollowbluebutton:focus{
	background-color:rgb(0,204,255);
	color:#fff;
	}
	
.hollowgreenbutton{
	color:rgb(113,198,55);
	text-decoration:none;
	text-align:center;
	border-width:1px;
	border-color: rgb(113,198,55);
	border-style:solid;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	}

.hollowgreenbutton:hover, hollowgreenbutton:active, hollowgreenbutton:focus{
	background-color:rgb(113,198,55);
	color:#fff;
	}
	
.holloworangebutton{
	color:rgb(255,102,0);
	text-decoration:none;
	text-align:center;
	border-width:1px;
	border-color: rgb(255,102,0);
	border-style:solid;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	}
	
.holloworangebutton:hover, holloworangebutton:active, holloworangebutton:focus{
	background-color:rgb(255,102,0);
	color:#fff;
	}
	
.imgtext{
	position:absolute; 
	top:50%; 
	width:100%; 
	font-size:300%; 
	color:rgb(113,198,55); 
	text-align:center;
	}

.madlib{
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color:#666; 
	height:36px; 
	width:150px; 
	vertical-align:text-bottom; 
	font-family:'Open Sans' sans serif; 
	font-size:30px; 
	font-weight:300;
	}

.modalcontent{
	padding:0 5px 5px 25px; 
	font-size:125%;
	}
	
#modalone {
	color:#fff;
  background: rgb(0,204,255);
  position: fixed;
  width: 400px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -200px;
  box-shadow:0px 0px 6px rgba(50,50,50,0.45);
  z-index:-1;
  opacity: 0;
  pointer-events: none;
  transition:0.3s linear;
  -webkit-transition:0.3s linear;
}

.modalup1 #modalone{
	opacity:1;
	z-index:50;
	pointer-events:auto;
	}

.modalup1 #content{
	pointer-events:none;
	overflow:hidden;
	}
	
#modaltwo {
	color:#fff;
  background: rgb(113,198,55);
  position: fixed;
  width: 400px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -200px;
  box-shadow:0px 0px 6px rgba(50,50,50,0.45);
  z-index:-1;
  opacity: 0;
  pointer-events: none;
  transition:0.3s linear;
  -webkit-transition:0.3s linear;
}

.modalup2 #modaltwo{
	opacity:1;
	z-index:50;
	pointer-events:auto;
	}

.modalup2 #content{
	pointer-events:none;
	overflow:hidden;
	}
	
#modalthree {
	color:#fff;
  background: rgb(255,102,0);
  position: fixed;
  width: 400px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -200px;
  box-shadow:0px 0px 6px rgba(50,50,50,0.45);
  z-index:-1;
  opacity: 0;
  pointer-events: none;
  transition:0.3s linear;
  -webkit-transition:0.3s linear;
}

.modalup3 #modalthree{
	opacity:1;
	z-index:50;
	pointer-events:auto;
	}

.modalup3 #content{
	pointer-events:none;
	overflow:hidden;
	}
	
#modalfour {
	color:#fff;
  background: rgb(255,102,0);
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -450px;
  box-shadow:0px 0px 6px rgba(50,50,50,0.45);
  width:900px; 
  height:450px;
  z-index:200;
  transition:0.3s linear;
  -webkit-transition:0.3s linear;
}

.modalup4 #modalfour{
	opacity:0;
	z-index:-1;
	pointer-events:none;
	}

.modelgoals{
	background-color:rgba(255,255,255,0.75); 
	width:300px;
	height:500px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.35); 
	padding:8px 8px 8px 8px;
	float:left;
	}
	
.modelexp{
	background-color:rgba(255,255,255,0.75); 
	width:400px;
	height:240px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.35); 
	padding:8px 8px 8px 8px;
	}

.slider1{
	position:absolute; 
	top:90px; 
	left:50%; 
	margin-left:-515px;
	}
	
.solidbluebutton{
	color:#fff;
	text-decoration:none;
	text-align:center;
	background: rgb(0,204,255);
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	}
	
.solidbluebutton:hover, solidbluebutton:active, solidbluebutton:focus{
	background-color:rgb(0,163,217);
	color:#fff;
	}

.solidgreenbutton{
	background:rgb(113,198,55);
	color:#FFF;
	text-decoration:none;
	text-align:center;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.solidgreenbutton:hover, solidgreenbutton:active, solidgreenbutton:focus{
	background:rgb(97,169,48);
	text-decoration:none;
	color:#FFF;
}

.solidorangebutton{
	color:#fff;
	text-decoration:none;
	text-align:center;
	background: rgb(255,102,0);
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	}
	
.solidorangebutton:hover, solidorangebutton:active, solidorangebutton:focus{
	background-color:rgb(198,79,0);
	color:#fff;
	}

.teamsupercontainer{
	position:absolute;
	top:120px;
	width:1000px;
	left:50%;
	margin-left:-500px;
	}

.teamcontainer{
	position:absolute; 	
	
	}
	
.teamimage{
	margin-left:25px; 
	position:relative;
	top:100px;
	opacity:0.7;
	transition:0.5s linear;
	-webkit-transition:0.5s linear;
	}
	
.teamimage:hover, teamimage:active, teamimage:focus{
	top: 0px;	
	opacity:1.0;
	}


	
.teamsub{
	position:relative; 
	top:-225px; 
	width:250px; 
	height:510px; 
	background-color:rgba(255,255,255,0.75); 
	z-index:-1;
	text-align:center;
	opacity: 0.0;
	transition:0.5s linear;
	-webkit-transition:0.8s linear;
	padding-top:220px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	box-shadow:0 1px 2px rgba(50,50,50,0.35);
	}


.teamsub:hover{
	opacity:1.0;
	}

.teamimage:hover ~ .teamsub{
	opacity:1.0;
	
	}
	
.window{
	position:absolute; 
	top:0px; 
	height:620px;
	width:1000px; 
	left:50%; 
	margin-left:-500px; 
	overflow:hidden;
	}
	
.windowcontent{
	height:620px;  
	width:1000px; 
	position:relative;
	display:inline-block;
	}