@charset "utf-8";
/* CSS Document */

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

a:link {
	text-decoration:none;	
	
	
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}



/*EVERYTHING BELOW HAS BEEN ALPHABETIZED FOR CONVENIENCE. EVERYTHING ABOVE IS ORGANIZED TOGETHER FOR CONVENIENCE */

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	
	border-left: 12px solid white;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

.circle{
	display:block;
	width:30px;
	height:30px;
	border-radius:15px;
	font-size:36px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	background:#65B331;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.circlenumber{
	width:70px;
	height:70px;
	border-radius:35px;
	font-size:36px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	background:#65B331;
}

.contactmask {
	display:block;
	width:200px;
	height:200px;
	border-radius:100px;
	font-size:36px;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
	text-decoration:none;
	opacity: 1.0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.contactmask:hover {
	opacity: 0.2;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
	-ms-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out
	
}

.content {
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container{
	width: 100%;
	background-color: #FAFFFF;
	height:100%;
}

.containernarrow{
	width: 80%;
	max-width: 1440px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 960px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}

.containerwide{
	width:100%;
	min-width:960px;
	margin: 0 auto;
	display:inline-block;
}

.footer {
	background-color: #333;
	height:270px;
	position:relative;
	
	width: auto;
	max-width: 1440px;
	min-width: 960px;
	margin: 0 auto;
}


.header {
	background-color: #FAFFFF;
	height:105px;
	position:relative;
	
	width: auto;
	max-width: 1440px;
	min-width: 960px;
	margin: 0 auto;
}

.icon {
	float:left; 
	margin-top:12px;
	padding-right:50px;
	font-size:20px;
	text-decoration:none;
	color:#333;
	opacity: 0.6;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.icon:hover {
	opacity: 1.0;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
	-ms-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out
	
}

.link {
	color:#222;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.link:visited {
	color: #222;
	text-decoration: none;
}

.link:hover, .link:active, .link:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color:#7ACB44;
	text-decoration: none;
}

.linkwhite {
	color:#FFF;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.linkwhite:visited {
	color: #FFF;
	text-decoration: none;
}

.linkwhite:hover, .linkwhite:active, .linkwhite:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color:#7ACB44;
	text-decoration: none;
}

.linkgrey {
	color:#555;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.linkgrey:visited {
	color: #555;
	text-decoration: none;
}

.linkgrey:hover, .linkgrey:active, .linkgrey:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color:#00CCFF;
	text-decoration: none;
}

.left{
	position:absolute;
	left:0;
}

.middle{
	background-image:url(Sky%20Cloud.fw.png);
	background-repeat:repeat-x;
	background-position:center;
	width:100%;
	min-width:960px;
	margin: 0 auto;
	height:480px;
	margin-top:5px;
}

.middlenarrow{
	width:auto;
	max-width:1440px;
	min-width:960px;
	margin: 0 auto;
	position:relative;
}

.middlenarrower{
	width:95%;
	align:center;
	margin: 0 auto;	
}

.midcrap{
	position:absolute;
	bottom:0;
}

.right{
	position:absolute;
	right:0;
}


.superbutton{
	background:#7ACB44;
	color:#FFF;
	text-decoration:none;
	text-align:left;
	padding-left:5px;
	text-shadow: 0px 0px 4px #999;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.superbutton:hover, superbutton:active, superbutton:focus{
	background:#65B331;
	text-decoration:none;
	color:#FFF;
}