@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:Ostrich;
	src:url(webfonts/ostrich-black-webfont.ttf),
	url(webfonts/ostrich-black-webfont.eot),
	url(webfonts/ostrich-black-webfont.woff),
	url(webfonts/ostrich-black-webfont.svg);
	}

a{
	text-decoration:none;
	color:inherit;	
	}
	
a:visited{
	text-decoration:none;
	color:inherit;
	}

body{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	margin: 0;
	padding: 0;
	height:100%;
	background-color:#EEE;
	background:url(images/white_sand.png);
	background-repeat:repeat-x repeat-y;
	overflow:hidden;
	}

.button{
	position:absolute; 
	bottom:0px; 
	margin-left:-8px; 
	height:100px;
	padding:8px 8px 8px 16px;
	transition:0.5s linear;
	-webkit-transition:0.5s linear;
	}
	
.button:hover {
	background-color:rgba(0,204,255,0.6);
	}
	
.card{
	background-color:rgba(255,255,255,0.75); 
	width:400px;
	height:150px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.5); 
	padding:5px 5px 5px 5px;
	position:relative;
	float:left;
	margin-right:15px;
	}
	
.centered{
    position:absolute;
    width:100px;
    height:300px;
    left:50%;
    top:45%;
    margin-left:-50px;
    margin-top:-100px;
	background:url(images/slant100.png);
	}
		
.centeredtext{
	position:absolute;
    width:250px;
    height:150px;
    left:50%;
    top:54%;
	text-align:center;
	font-size:36px;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#666;
    margin-left:-125px;
	background:url(cube1.jpg);
	}
		
.copyright{
	position:fixed;
	width:200px;
    left:100%;
    top:100%;
	text-align:right;
	font-size:16px;
	font-family: 'PT Sans Narrow', sans-serif;
	color:#666;
    margin-left:-220px;
	margin-top:-25px;
	background:url(cube1.jpg);
	}	
	
.containerpage{
	height:100%;
	width:100%;
	}

.contactmask {
	display:block;
	width:200px;
	height:200px;
	border-radius:100px;
	font-size:36px;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
	text-decoration:none;
	opacity: 1.0;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.contactmask:hover {
	opacity: 0.2;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
	-ms-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out
	
}

h1 {font-weight:300; font-size:28px; color:#555;}
h2 {font-weight:300; color:#888;}

.logobox{
	position:absolute;
	z-index:1; 
	background-color:rgba(0,0,0,0.75); 
	top:-200px; 
	left:15px; 
	height:200px; 
	width:80px; 
	box-shadow:0 1px 2px #000;
	animation:0.5s slidelogo;
	animation-delay:2.5s;
	-webkit-animation:0.5s slidelogo;
	-webkit-animation-delay:2.5s;
	animation-timing-function:linear;
	animation-fill-mode:forwards;
	-webkit-animation-timing-function:linear;
	-webkit-animation-fill-mode:forwards;
	transition:0.3s linear;
	-webkit-transition:0.3s linear;
	}

	
@keyframes slidelogo {
	0%	{top:-200px;}
	75% {top:-5px;}
	90% {top:-30px;}
	100% {top:-20px;}
	}

@-webkit-keyframes slidelogo {
	0%	{top:-200px;}
	75% {top:-5px;}
	90% {top:-30px;}
	100% {top:-20px;}
	}


.logobox:hover{
	margin-top:10px;
	}
	
.modelgoals{
	background-color:rgba(255,255,255,0.75); 
	width:300px;
	height:500px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.5); 
	padding:8px 8px 8px 8px;
	float:left;
	}
	
.modelexp{
	background-color:rgba(255,255,255,0.75); 
	width:400px;
	height:240px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.5); 
	padding:8px 8px 8px 8px;
	}
	
p  {color:#888; font-weight:300;}

.pricingbutton{
	background-color:rgba(255,255,255,0.75); 
	width:400px;
	height:38px; 
	box-shadow:0 1px 2px rgba(50,50,50,0.5); 
	padding:3px 5px 3px 5px;
	position:relative;
	float:left;
	margin-right:15px;
	transition:0.5s linear;
	-webkit-transition:0.5s linear;
	}
.pricingbutton:hover {
	background-color:rgba(0,204,255,0.6);
	}

.teamcontainer{
	position:absolute; 
	top:24%; 
	margin-left:-125px;
	
	
	}
	
.teamimage{
	margin-left:25px; 
	position:relative;
	top:100px;
	opacity:0.7;
	transition:0.5s linear;
	-webkit-transition:0.5s linear;
	}
	
.teamimage:hover{
	top: 0px;	
	opacity:1.0;
	}


	
.teamsub{
	position:relative; 
	top:-225px; 
	width:250px; 
	height:510px; 
	background-color:rgba(255,255,255,0.75); 
	z-index:-1;
	text-align:center;
	opacity: 0.0;
	transition:0.5s linear;
	-webkit-transition:0.8s linear;
	padding-top:220px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	box-shadow:0 1px 2px rgba(50,50,50,0.5);
	}


.teamsub:hover{
	opacity:1.0;
	}

.teamimage:hover ~ .teamsub{
	opacity:1.0;
	
	}
	

.title{
	position:absolute; 
	right:10px; bottom:40px; 
	font-size:1100%;
	width:57%; 
	text-align:right; 
	line-height:90%; 
	color:#999;
	font-family:Ostrich;
	text-shadow:0 1px 1px #000;
	}

.titlenight{
	position:absolute; 
	right:10px; top:40%; 
	font-size:200px; 
	text-align:right; 
	line-height:90%; 
	font-family:Ostrich;
	color:#eee;
	text-shadow: 5px 5px 0px #666, 7px 7px 0px #707070; 
	}
	
.titleday{
	position:absolute; 
	right:10px; top:40%; 
	font-size:200px; 
	text-align:right; 
	line-height:90%; 
	font-family:Ostrich;
	color:#999;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070; 
	}
	
	/*SECOND SECTION I DID NOT WRITE. I NEED TO LEARN THIS BUT DO NOT NEED TO REWRITE THIS */
	
	.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: rgba(255,255,255,0.85);
    /*border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.15);*/
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);/* used to be alpha 0.1*/
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: normal;
    color:  #3183BD; 
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: rgba(255,255,255,0.85);
    border-radius: inherit;
    /*border: 1px solid rgba(0,0,0,0.17);*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}


.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #3183BD;
  /*  border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1); */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}
/*
.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}
*/
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}	
	
	
	
	/*I DID NOT WRITE EVERYTHING BELOW HERE MYSELF. I NEED OT REWRITE THIS SECTION AND CREDIT THE APPROPRIATE WEBSITE FOR TEACHING ME A METHOD */

.page { 
position: absolute; 
width: 100%; 
height: 100%; 
}



/* The Pages */

#i1 { left: 0%; /*background-color: #fff;*/ }
#i1 { left: 100%; background:url(images/bg3.png); background-size:100% 100%; }
#i2 { left: 200%; background:url(images/bg4.png); background-size:100% 100%;}
#i3 { left: 300%; background:url(images/bg8.png); background-size:100% 100%;}
#i4 { left: 400%; background:url(images/bg5.png); background-size:100% 100%;}
#i5 { left: 500%; background:url(images/bg6.png); background-size:100% 100%;}



/* The Transition Effect */

.page { 
-webkit-transition: -webkit-transform 0.8s;
-moz-transition: -moz-transform 0.8s;
-o-transition: -o-transform 0.8s;
transition: transform 0.8s;
}



/* The Sliding Action */
/* TranslateX for better Performance. Translate3D for better Performance on Ipad. */

#Home:target .page { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }
#TheTeam:target .page { -webkit-transform: translateX(-200%); -moz-transform: translateX(-200%); -o-transform: translateX(-200%); transform: translateX(-200%); }
#OurModel:target .page { -webkit-transform: translateX(-300%); -moz-transform: translateX(-300%); -o-transform: translateX(-300%); transform: translateX(-300%); }
#Portfolio:target .page { -webkit-transform: translateX(-400%); -moz-transform: translateX(-400%); -o-transform: translateX(-400%); transform: translateX(-400%); }
#ContactUs:target .page { -webkit-transform: translateX(-500%); -moz-transform: translateX(-500%); -o-transform: translateX(-500%); transform: translateX(-500%); }


/* The First Page - Initial Positioning without Anchor */

.page { 
-webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%);
}



/* THIS IS FOR THE SHARING ICON. YES I KNOW IT FEELS LIKE THE CSS IS EXCESSIVE. FUCK IT. */

.share-wrapper, 
.share-action {
  width: 32px;
  height: 32px;
}

.share-wrapper {
  font: 14px, 'FontAwesome';
  position: relative;
  text-align: center; 
}

.share-container {
  margin-left: 0px;
  margin-top:  0px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.05,.93,.61,1.6);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  width: 0px;
  height: 0px;
  background: #fff;
}

.share-action:hover ~ .share-container,
.share-container:hover {
  width: 100px;
  height: 100px;
  overflow: visible;
}

.share-container:after,
.share-container:before {
  position: absolute;
  background:  linear-gradient(rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  z-index:4;
  margin: 0;
  transition: all 0.5s ease-in-out;
  content: '';
}

.share-container:before {
  background:  linear-gradient(left, rgba(136, 221, 255, 0.5) 0%, rgba(34, 153, 221, 0.5) 50%, rgba(136, 221, 255, 0.5) 100%);
  height: 1px;
  margin: 50% 50%;
  width: 0%;
}

.share-action:hover ~ .share-container:before,
.share-container:hover:before {
  width: 85%;
  left: 0px;
  margin: 50% 7%;
}

.share-container:after {
  left: -1px;
  height: 0%;
  width: 1px;
  margin: 50% 50%;
}

.share-action:hover ~ .share-container:after,
.share-container:hover:after {
  height: 85%;
  margin: 7% 50%;
}

.share-action {
  display: inline-block;
  vertical-align: middle;
  z-index: 5;
  position: relative;
  background: linear-gradient(#8df 0%, #29d 100%);
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5) inset, 0 0 0px 1px rgba(33, 112, 178, 0.5);
  line-height: 33px;
  color: #fff;
}

.share-btn {
  display:inline-block;
  width: 49%;
  height: 49%;
  position: absolute;
  z-indez:1;
  border-color: #92888f;
  border-style: solid;
  border-width: 0;
  font-size: 0px;
  color: #777777;
  overflow: hidden;
}

.share-action:hover ~ .share-container .share-btn ,
.share-container:hover .share-btn  {
  overflow: visible;
  font-size: 25px;
}

.share-btn:hover {
  background:linear-gradient(#8df 0%, #29d 100%);
  color: #ffffff;
  text-shadow: 0 -1px #4298e0;
}

.share-btn.tl {
  right: 50%;
  bottom: 50%;
  
}
.share-btn.tr {
  left: 50%;
  bottom: 50%;
}
.share-btn.br {
  left: 50%;
  top: 50%;
  
}
.share-btn.bl {
  right: 50%;
  top: 50%;  
}

.share-btn {
  line-height: 50px;
}

.rc10 {
  border-radius: 10%;
}
.below .share-btn.tl,
.rc10 .share-btn.tl {
  line-height: 50px;
}
.below .share-btn.tr,
.rc10 .share-btn.tr {
  line-height: 45px;
  text-indent: 3px;
}

.below .share-btn.br,
.rc10 .share-btn.br {
  line-height: 50px;
}

.below .share-btn.bl,
.rc10 .share-btn.bl {
  text-indent: -2px;
  line-height: 55px;
}
.rc10 .share-btn.tl {
  border-top-left-radius: 20%;
}
.rc10 .share-btn.tr {
  border-top-right-radius: 20%;
}

.rc10 .share-btn.br {
  border-bottom-right-radius: 20%;
}

.rc10 .share-btn.bl {
  border-bottom-left-radius: 20%;
}

/** positions **/

.top.share-wrapper {
  margin: 65% auto 0;
}

.top .share-container {
  position: absolute;
  top: 0%;
  left: 0%;
}

.top .share-action:hover ~ .share-container .share-btn:nth-child(4):after,
.top .share-container:hover .share-btn:nth-child(4):after {
  content: '';
  border: 11px solid transparent;
  border-top-color: #fff;
  border-bottom: none;
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  top: 100%;
  margin-left: -11px;
}

.top .share-action:hover:after {
  position: absolute;
  content: '';
  z-index: 1;  
}

.top .share-action:hover:after {
  width: 200%;
  height: 20px;
  left: -50%; 
  top: 100%;
}

.top .share-action:hover:after {
  top: auto;
  bottom: 100%;
  left: -50%;    
}

.top .share-container, {
  top : 0%;
  left: 50%;
}
.top .share-action:hover ~ .share-container,
.top .share-container:hover {
  margin-left: 0px;
  left: -100%;
  top: -120px;
}     

@font-face{
    font-family:FontAwesome;
    src:url(http://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'),
    url(http://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'),
    url(http://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'),
    url(http://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight:400;font-style:normal;}


/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: .9em;
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-facebook:before             { content: "\f09a"; }
.icon-twitter:before              { content: "\f099"; }
.icon-linkedin:before            { content: "\F08C"; }
.icon-google-plus:before          { content: "\f0d5"; }

.icon-share:before                { content: "\f045"; }


.cell {
  float: left;
  width: 200px;
  height: 200px;
  position: relative;
}


